<!DOCTYPE html>
<html ng-app="Symphony">
  <head>
    <meta charset="utf-8">
    <title>Symphony Challenge</title>
    <link rel="stylesheet" href="style.css">
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="js/app.js" charset="utf-8"></script>
    <script src="js/services.js" charset="utf-8"></script>
  </head>
  <body ng-controller="MainController">
    <header>
      <div class="logo">
        <img src="imgs/whiteLogo.png" alt="">
      </div>
      <div class="title">
        <h1>{{data.pageTitle}}</h1>
      </div>
    </header>
    <main>
      <img ng-click="toggle()" class="hamburger"src="imgs/hamburger.png">
      <aside class="aside" ng-class="{open: open}">
        <h3>Order By</h3>
        <ul class="orderBy">
          <li ng-click="changeOrder('name')"><span ng-class="{selected:selectedTab === 'name'}">Name</span></li>
          <li ng-click="changeOrder('msrpInCents')"><span ng-class="{selected:selectedTab === 'msrpInCents'}">Price Low to High</span></li>
          <li ng-click="changeOrder('-msrpInCents')"><span ng-class="{selected:selectedTab === '-msrpInCents'}">Price High to Low</span></li>
        </ul>
        <h3>Search</h3>
        <input type="text" placeholder="search items" ng-model="searchText">
        <h3>Filter by price</h3>
        <label for="min">min</label>
        <input class="priceFilter" type="text" name="min" ng-model="range.min">
        <label for="min">max</label>
        <input class="priceFilter" type="text" name="min" ng-model="range.max">
      </aside>
      <section class="catalog" >
        <div class="item" ng-repeat= "item in data.items | orderBy:orderBy | filter:searchText| rangeFilter:range">
          <img ng-src={{item.mainImage.ref}} alt={{item.name}}>
          <h3>{{item.name}}</h3>
          <h5>{{item.msrpInCents/100 | currency}}</h5>
        </div>
      </section>
    </main>
  </body>
</html>
