body{
  margin: 0;
  padding: 0;
}
main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
header{
  height: 15vh;
  background-color: #002080;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
header *{
  display: inline-block;
}
.logo img{
  margin: 15px;
  height: 8vh;
}
.title{
  margin-left: 50px;
}
header h1{
  text-align: center;
  font-family: sans-serif;
  color: white;
  margin: 0;
}
.aside{
  width: 24%;
  border-right: 1px solid #ddd;
}
.catalog{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 75%;
}
.item{
    width:50%;
    text-align: center;
    font-family: sans-serif;
}
.item *{
  font-weight: 400;
}

@media (max-width:1000px){
  .item{
    width:100%;
  }
}
@media (max-width:700px){
  .catalog, .aside{
    width:100%;
  }
}
